body{
	font-family: Arial, sans-serif;
}
/*.weekly-item{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;

}
.weekly-item .number{
	font-size: 20px;
	padding: 0 8px;
}
.weekly-item .info{
	font-size: 12px;
	flex-grow: 1;
}
.weekly-item .song-title{
	margin-bottom: 6px;
}
.weekly-item .singer{
	font-size: 8px;
	color: #999;
}
.weekly-item .view-count{
	font-size: 10px;
	color: #999;
}*/
.weekly-item{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px 0;
	border-bottom: 1px solid #EEE;
}
.weekly-item .number{
	font-size: 25px;
	font-weight: oblique;
	padding: 0 8px;
}
.weekly-item .info{
	font-size: 12px;
	flex-grow: 1;
	margin-bottom: 12px
}
.weekly-item .song-title{
	font-size: 18px;
	margin-bottom: 6px;
}
.weekly-item .singer{
	font-size: 8px;
	color: #999;
}
.weekly-item .view-count{
	font-size: 10px;
	color: #999;
}

/*weekly album*/
.top-album{
	display: flex;
	padding: 15px 0;
	border-bottom: 2px solid #DDD;
}

.top-album .album-cover{
	width: 128px;
	height: 128px;
	background-color: #DDD;
	background-image: url("album_cover1.jpg");
	background-size: cover;
	background-position: center;
	color: #FFF;
	font-size: 20px;
	margin-right: 20px;
}

.top-album .album-cover .overlay{
	height: 100%;
	/*co the dung flex*/
	background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(1,13,15,0) 63%);
	display: flex;
	align-items: flex-end;
	padding: 10px;
	box-sizing: border-box; /* lam cho padding khong thay doi size*/

}
.top-album .album-info{
	font-family: Arial, sans-serif;
	flex-grow: 1;
}

.top-album .album-info .album-name{
	margin: 6px 0;

}

.top-album .album-info .album-singer{
	font-size: 10px;
	color: #BBB;
	margin-bottom: 6px;
}

.top-album .album-info .album-view{
	font-size: 10px;
	color: #BBB;
}
