/*flex box là module sinh ra để làm layout thuận tiện hơn trước khi có flex box người ta thường dùng float hoặc table để làm layout */

/*
	justify-content: flex-start* | flex-end | center| space-between | space-around | space-evenly

	align-items: flex-start | flex-end | center | baseline | stretch*
	*/
	/*các thuộc tính áp dụng cho thằng cha
		display: flex;
		flex-direction:
		justify-content
		align-items

		thuộc tính áp dụng cho con
		- flex-basis <length>;
		- flex-grow: number;  chỉ tác dụng khi container còn thừa chỗ trống, nó sẽ phân bổ chỗ trống còn lại cho thằng con
		- flex-shrink: 1* | number;  ngược lại với grow, nếu tất cả thằng con có tổng chiều rộng vượt quá container, nó sẽ cắt các thằng con mỗi thằng 1 chút
		- order: 0* | number;

	*/
body{
	margin: 0;
}
.container{
	display: flex;
	background-color: #DDD;
	color: #FFF;
	flex-direction: row;
	/*flex-direction: column;  *//* mặc định là row, ko đặt gì tự động là flex row, muốn đổi thì đặt column*/
	/*justify-content: dùng để căn chỉnh vị trí của các thằng con theo chiều, luồng, hướng ..*/
	/*justify-content: flex-start; << giá trị mặc định */
	/*justify-content: space-between;*/
	/*height: 200px;*/
	/*align-items: dùng để căn chỉnh các elements con theo hướng vuông góc với hướng hiện tại của nó.*/
	/*align-items: stretch;*/
}

.child-1{
	background-color: red;
	flex-basis: 100px;
	flex-grow: 1;
}
.child-2{
	background-color: green;
	flex-basis: 100px;
	flex-grow: 3;
}
.child-3{
	background-color: blue;
	flex-basis: 100px;
	flex-grow: 2;
}
.child-4{
	background-color: red;
	flex-basis: 500px;
	
}
.child-5{
	background-color: green;
	flex-basis: 200px;
	
}
.child-6{
	background-color: blue;
	flex-basis: 200px;
	
}